:root {
    --primaryColor: hsl(199, 100%, 33%);
    --secondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.footer {
    width: 100%;
    position: relative;
    background-color: rgb(86, 213, 230);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.footer .secContent {
    width: 100%;
    height: max-content;
    padding: 2rem initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    row-gap: 2rem;
    z-index: 100;
}

.footer .secContent .contactDiv {
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.contactDiv .text small {
    font-size: 11px;
    font-weight: 400;
    color: var(--whiteColor);
}

.contactDiv .text h2 {
    color: var(--whiteColor);
    font-size: 1.8rem;
}

.footer .inputDiv {
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

.footer .inputDiv input {
    width: 100%;
    padding: .5rem .6rem;
    border-radius: 3rem;
    border: 1px solid var(--whiteColor);
    background: transparent;
    outline: none;
    color: var(--whiteColor);
}

input::placeholder {
    color: var(--whiteColor);
    opacity: .5;
}

.inputDiv .btn {
    width: 100%;
    justify-content: center;
    color: var(--whiteColor);
    font-weight: 500;
    gap: .5rem;
}

.inputDiv .btn .icon {
    font-size: 18px;
    transform: translateY(-2px);
}

.footerCard {
    position: relative;
    padding: 1rem 1rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
    background: var(--bodyColor);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.footerCard .footerIntro {
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: .5rem;
}

.footerCard .footerIntro .logoDiv .logo {
    color: var(--blackColor);
    font-weight: 600;
}

.footerCard .footerIntro .logoDiv .logo .icon {
    font-size: 25px;
    color: var(--primaryColor);
    margin-right: 10px;
    transform: translateY(-2px);
}

.footerCard .footerIntro .footerParagraph {
    font-size: 14px;
    color: var(--textColor);
}

.footerCard .footerIntro .footerSocials {
    column-gap: .5rem;
}
.footerCard .footerIntro .footerSocials .icon{
    color: var(--blackColor);
    font-size: 20px;
}
.footerCard .footerIntro .footerSocials .icon:hover{
    color: var(--primaryColor);
}

.footerCard .footerLink{
    flex-basis: 50%;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.footerCard .footerLink .linkGroup .groupTitle{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: var(--blackColor);
    margin-bottom: .5rem;
}
.footerCard .footerLink .linkGroup .footerList{
    font-size: 16px;
    color: var(--textColor);
}
.footerLink .linkGroup .footerList .icon{
    font-size: 16px;
    color: var(--greyText);
    transform: translateY(1px);
}

.footerDiv{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--secondaryColor);
    padding: .5rem 2rem;
}
.footerDiv small{
    font-size: 14px;
    color: var(--whiteColor);
}

/* Responsive.... */

@media screen and (min-width: 500px){
    .footer .secContent .footerCard .footerLink{
        grid-template-columns: repeat(3,1fr);
        padding-bottom: 1rem;
    }
    .footer .secContent .footerCard .footerDiv{
        justify-content: space-between;
        flex-direction: row;
    }
    .footer .secContent .footerCard .footerDiv small{
        font-size: 14px;
        color: var(--whiteColor);
    }
}

@media screen and (min-width: 660px){
    .footer .secContent .contactDiv{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .secContent .inputDiv{
        width: max-content;
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer .secContent .inputDiv input{
        width: 60%;
    }
    .footer .secContent .inputDiv .btn{
        width: max-content;
        transform: translateY(-6px);
    }
}

@media screen and (min-width: 840px){
    .footer{
        padding: 5rem 0;
    }
    .footer .secContent .footerCard{
        flex-direction: row;
    }
    .footer .secContent .footerCard .footerLink{
        grid-template-columns: repeat(3,1fr);
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .footer .secContent .footerCard{
        padding: 3rem 1rem;
    }
    .footer .secContent .footerCard .footerIntro .footerParagraph{
        font-size: 15px;
        color: var(--textColor);
    }
    .footer .secContent .footerCard .footerIntro .footerSocials{
        column-gap: .5rem;
    }
    .footer .secContent .footerCard .footerIntro .footerSocials .icon{
        color: var(--textColor);
        font-size: 25px;
    }
    .footer .secContent .footerCard .footerIntro .footerSocials .icon:hover{
        color: var(--primaryColor);
    }
    .footer .secContent .footerCard .footerLink .linkGroup .footerList{
        font-size: 16px;
        padding: 5px 0;
    }
}